body {
    background-color: rgb(235, 232, 232);
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.introduce {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 300px;
    border-radius: 3%;
    margin: 15px;
    padding: 15px;
    background-color: cadetblue;
}

.enter {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 3%;
    margin: 15px;
    padding: 15px;
    background-color: white;
}


