
body{
    background-color:beige;
}

nav{
    height:70px;
}

.navbar{
    background-color:darkolivegreen;
}

li a{
    color: black !important;
    font-size:18px;
}

li a:hover{
    color:midnightblue !important
}

.navbar-toggler{
    background-color: darkgreen !important;
}

@media(max-width:600px){
    nav{
        height:auto;
    }
}