
html,body{
    background-color: gainsboro;
}
#content{
    background-color: white;
    padding: 20px;
    margin:0 auto;
}

.first{
    display: inline-block
}   

#btn1{
    display: inline-block
}

.second{
    display: inline-block
}

#btn2, #btn3, #btn4{
    position: relative;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
}
