.container {
  padding: 0;
  /* background-color: #f8f8f8; */

}

.Container {
  padding: 0;
  background-color: #7cc4f7;

}

.slick-prev {
  left: 0px;
  z-index: 1;
}

.slick-next {
  right: 0px;
  z-index: 1;
}

.slick-container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d51717;
  /*  background-color:#d51717;*/
}

.center {
  display: flex;
}

.slick-slide img {
  margin: auto;
}


/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: #d51717;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/************ 輪播 **************/
.demo {
  display: flex;
  position: relative;
  margin: 100 auto;
  width: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.demo .item {
  display: flex;
  /* margin: 5px 17%; */
  justify-content: center;
  align-items: center;
  /* width: 700px; */
  width: 100%;
  box-shadow: 3px 6px 8px #dde0e8;
}

/* .slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
} */

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/* Slider */
.slick-slider {
  position: relative;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: flex;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  /* position:relative;
  min-height: 100vh; */
  padding: 4rem 0;
  flex: 1;
  /* display: flex; */

  justify-content: center;
  align-items: center;

  display: flex;
  flex-wrap: wrap;
}

.slick-prev {
  left: 25px;

}

.center {
  align-items: center;
}

.navbar {
  background-color: hwb(60 75% 1%);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/********** 首頁推薦文章 *************/
.grid {
  position: relative;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  /* max-width: 800%; */
  /* top: 60px; */
}
/********** 首頁標籤 *************/
.grid2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 60%; */
  /* left: 250px; */
}

.card {
  margin:10px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  /*text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;*/
  max-width: 300px;

  position: relative;
  display: flex;
  background: rgb(236, 236, 236);
  height: 330px;

  border-radius: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2 {
  position: absolute;
  display: flex;
  width: 300px;
  height: 70px;
  bottom: 0px;
  background: white;
  right: 1px;

  border-radius: 0 0 10px 10px;
}

.card3 {
  margin: 1rem;
  padding: 1.5rem;
  position: relative;
  display: flex;
  background: rgb(236, 236, 236);

  border-radius: 10px;
}

.tag {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  max-width: 100px;

  position: relative;
  display: flex;
  background: #ffffff;
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(111, 111, 111, 0.7);
  border-radius: 200px;

  cursor: "pointer";
}

.tag2 {
  position: absolute;
  display: flex;
  width: 200px;
  height: 40px;
  bottom: 0px;
  background: black;

  border-radius: 0 0 5px 5px;
}

/* 小手套 */
.pointer {
  cursor: "pointer";
}




.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card3:hover,
.card3:focus,
.card3:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;

  position: absolute;
  top: 25px;
  font-size: 30px;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;

  position: relative;
  top: 50px;
  /* width:430px; */
}

.card2 p {
  position: absolute;
  top: 25px;
  left: 80px;
  color: black;
}

/* .card2 Image {
  font-size: 1.25rem;
} */

.userPhoto {
  /* object-fit:cover;
  border-radius:50px;
  bottom:5px;
  right:410px;
  position:absolute; */
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 16% ! important;
  /* max-width: 100%; */
  min-height: 68% ! important;
  /* max-height: 100%; */
  border-radius: 50px ! important;
  right: 75% ! important;
}

.heart {
  position: absolute;
  top: 30px;
  right: 80px;
  /* left:400px; */
  background-color: #8a93a0;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transform: rotate(-45deg) scale(1);
}

.heart::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  background-color: inherit;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.heart::after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  background-color: inherit;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.fiveStar {
  position: absolute;
  top: 20px;
  right: 30px;
  transform: translate(-5%, -50%);
  /* left:460px; */
  display: block;
  border-left: 3.04px solid transparent;
  border-right: 3.24px solid transparent;
  border-bottom: 10px solid;
  color: #8a93a0;
  cursor: pointer;
  transform: scale(1.5);
}

.fiveStar:before {
  content: "";
  position: absolute;
  top: 8.65px;
  left: -8.82px;
  width: 0;
  height: 0;
  color: #8a93a0;
  display: block;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 9.08px solid;
  transform-origin: top center;
  transform: rotate(36deg);
}

.fiveStar:after {
  content: "";
  position: absolute;
  top: 8.65px;
  left: -15px;
  width: 0;
  height: 0;
  color: #8a93a0;
  display: block;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 9.08px solid;
  transform-origin: top center;
  transform: rotate(-36deg);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  
} */


.introduce {

  position: relative;
  flex-direction: column;
  right: 200px;
  height: 450px;
  max-width: 300px;
  border-radius: 3%;
  margin: 15px;
  padding: 15px;
  background-color: cadetblue;
}

.logincon {
  display: flex;
  position: relative;
  flex-direction: column;

  left: 300px;
  bottom: 325px;
  height: 450px;
  width: 500px;
  max-width: 400px;
  border-radius: 3%;
  margin: 15px;
  padding: 15px;
  background-color: #ffff;
}


.enter {
  display: flex;
  border-radius: 5px;
  padding: 6px;
  border: solid cadetblue;
}

.loginbtn {
  display: flex;
  border-radius: 10px;
  border: solid 1px cadetblue;
  ;
  width: 70px;
  padding: 3px;
  font-size: 15px;
  text-align: center;
  background-color: cadetblue;
  ;
  color: #ffffff
}

.post {
  height: auto;
  width: 200px;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border: solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.post:hover,
.post:focus,
.post:active {
  color: #aacff7;
  border-color: #aacff7;
}

.post h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  /* position:absolute;  
  top:25px;
  font-size:30px; */
}

.post p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  /* position:absolute;
  top:80px;
  left:40px;
  width:430px; */
}

.emailpass {
  color: cadetblue;
}

.addArticle_container {
  position: relative;
  display: flex;
  border-bottom: -8%;
  border-radius: 15px;
  height: 780px;
  width: 900px;
  margin: 8%;
  padding: 15px;
  flex-direction: column;
  background-color: white;
}

.addArticle_bar {
  display: flex;
  background-color: white;
  height: auto;
  width: auto;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.user_box {
  display: flex;
  height: 50px;
  width: auto;
  justify-content: center;
}

.user_image {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #666A86;
}

.user_name {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 120px;
}

.addArticle_title {
  display: flex;
  height: 40px;
  width: 220px;
  margin: 10px;
  background-color: #E8DDB5;
}

.material-icons {
  align-items: center;
  color: gray;
}

.addArticle_contectTitle {
  display: flex;
  border: 1px;
  border-color: #666A86;
  height: 55px;
  width: 800px;
  font-size: 25px;

}

.addArticle_function {
  display: flex;
  height: 40px;
  width: auto;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.addArticle_content {
  margin: 10px;
  flex: 1 1 0%;
  line-height: 50px;
  font-size: 50px;
  border: none;
  margin-right: 100px;
  word-break: break-word;
  padding: auto;
  width: 800px;
  height: 400px;
  right: 20px;
  top: 200px;
}

.tags {
  width: 20%;
  margin: 20px 0;
  display: flex;
  border-radius: 5px;
  padding: 6px;
  border: none;
  top: 600px;
  left: 50px;
}


.upload_image {
  color: cornflowerblue;
}

.upload_btn {
  display: flex;
  border-radius: 5px;
  border: solid 1px cadetblue;
  padding: 3px;
  width: 100px;
  font-size: 15px;
  text-align: center;
  background-color: cadetblue;
  color: #ffffff;

  float: left;
}

.post_btn {

  border-radius: 5px;
  border: solid 1px cadetblue;
  ;
  width: 100px;
  padding: 3px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: cadetblue;
  ;
  color: #ffffff;
  right: 100px;

  float: right;



}

.cancel_btn {

  border-radius: 5px;
  border: solid 1px cadetblue;
  ;
  width: 100px;
  padding: 3px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: cadetblue;
  ;
  color: #ffffff;
  right: 100px;


  float: right;


}


.article_container {
  display: flex;
  position: relative;
  border-bottom: -8%;
  border-radius: 15px;
  height: 780px;
  width: 900px;
  margin: 3%;
  padding: 30px;
  flex-direction: column;
  background-color: white;
}

.article_items_container {
  display: flex;
  height: 100px;
  width: auto;
  background-color: white;
  display: flex;
  margin: 10px;
  padding: 30px;
  flex-direction: row;
  align-items: center;
}

.article_toolbar {
  display: flex;
  background-color: white;
  height: auto;
  width: auto;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.article_btn {
  border-radius: 5px;
  border: solid 1px cadetblue;
  ;
  width: 100px;
  margin: 5px;
  padding: 3px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: cadetblue;
  ;
  color: #ffffff;
  display: inline-block;
}

/********************** article classification **************/
.classification_container {
  display: flex;
  flex-direction: row;
}

.classification_sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
  height: auto;
  background-color: inherit;
  justify-content: left;
  align-items: left;
}

.back_btn {
  display: flex;
  position: relative;
  background-color: #ffffff;
  padding-right: 20px;
}

.sidebar_tool {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.classification_tag {
  display: flex;
  position: relative;
  height: 45px;
  width: 70%;
  border-radius: 28px;
  background-color: #b2b2b9;
  justify-content: center;
  align-items: center;
  margin-left: 10%;

  /* flex: 2 1 auto; */
}

.Line_login_btn {
  border-radius: 5px;
  background-color: #06C755;
  ;
  color: #ffffff;
}

/* X-Small Device */
.main .navbar {
  width: 100%;
}

/* Medium Device */
@media(min-width: 768px) {
  .main .navbar {
    width: 50%;
  }
}

/* XX-Large Device */
@media(min-width: 1400px) {
  .main .navbar {
    width: 25%;
  }
}

.yu {
  color: grey;
  font-size: 15px;
}

.Like {
  color: #f30000;
  
  /* color: inherit; */
  /*text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;*/


  /* position: relative;
  display: block;
  bottom: 75px;
  left: 200px;
  cursor: pointer; */
}


/* .Like:hover,
.Like:focus,
.Like:active {
  color:#f30000;
} */

/* .Bookmark {


  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  position: relative;
  display: block;
  bottom: 138px;
  left: 255px;
  cursor: pointer;
} */

.Unlike {
  
  color:grey;

  /* color: inherit; */
  /*text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;*/


  /* position: relative;
  display: block;
  bottom: 75px;
  left: 200px;
  cursor: pointer; */
}













.Bookmark:hover,
.Bookmark:focus,
.Bookmark:active {
  color: #eec210e2;
}


.view {
  color: grey;
  font-size: 14px;
  position: relative;
  left: 460px;
  bottom: 25px;
}

.views {
  color: grey;
  font-size: 14px;
  position: relative;
  left: 30px;
  bottom: 30px;
}

.users {
  color: grey;
  font-size: 14px;
  position: relative;
  left: 25px;
  bottom: 10px;
}

/********** profile **********/
.bg {
  background-color: #fafafa;
}

.text_cs {
  position: relative;
  left: 130px;
  top: 50px;
}

.tag_text {
  position: relative;
  text-align: center;

}

.slick_demo {
  position: relative;
  right: 160px;

  align-items: center;

}

.group {
  position: relative;

}

.post_container {
  margin: 1rem;
  padding: 1.5rem;

  color: #000000;
  /* max-width: 900px; */

  position: relative;

  background: #ffffff;
  width: 1200px;
  height: 700px;
  top: 100px;
  left: 100px;

  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(111, 111, 111, 0.7);
  border-radius: 20px;
}

.post_title {
  position: relative;
}

.post_content {
  position: relative;
}

.like {
  color: inherit;
  /*text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;*/


  position: relative;
  display: block;
  bottom: 60px;
  left: 240px;
  cursor: pointer;
}

.userName {
  position: relative;
  top: 50px;

}

.QAmenu{
  position: relative;
  top: 100px;
  left: 175px;
}

.register{
  cursor: pointer;
}

.googlephoto_profile{
  width:100%;
  height:60%;
  border-radius:50px;
}

.googlephoto_nav{
  width:50%;
  height:50%;
  border-radius:50px;
}

/****animate****/
.section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.codes{
  position: absolute;
  width: 10%;
  height: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.codes .set
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.codes .set div
{
  position: absolute;
  display: block;
}

.codes .set div:nth-child(1)
{
  left: 20%;
  animation: animate 20s linear infinite;
}

.codes .set div:nth-child(2)
{
  left: 50%;
  animation: animate 14s linear infinite;
}

.codes .set div:nth-child(3)
{
  left: 70%;
  animation: animate 12s linear infinite;
}

.codes .set div:nth-child(4)
{
  left: 5%;
  animation: animate 15s linear infinite;
}

.codes .set div:nth-child(5)
{
  left: 85%;
  animation: animate 18s linear infinite;
}

.codes .set div:nth-child(6)
{
  left: 90%;
  animation: animate 12s linear infinite;
}

.codes .set div:nth-child(7)
{
  left: 15%;
  animation: animate 14s linear infinite;
}

.codes .set div:nth-child(8)
{
  left: 60%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0%
  {
    opacity: 0;
    top: -10%;
    transform: translate(20px) rotate(0deg);
  }

  10%{
    opacity: 1;
  }

  20%
  {
    transform: translate(-20px) rotate(45deg);
  }

  40%
  {
    transform: translate(20px) rotate(90deg);
  }

  60%
  {
    transform: translate(-20px) rotate(180deg);
  }

  80%
  {
    transform: translate(20px) rotate(45deg);
  }

100%
  {
    transform: translate(-20px) rotate(225deg);
  }
}
